p{
    font-family: Arial;
}

.header{
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.input{
    display: block;
    border: none;
    background-color: rgb(240, 240, 240);
    padding: 15px 20px;
    width: 65%;
    font-size: 16px;
    margin-bottom: 10px;
}

.request{
    margin-top: 25px;
    margin-right: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
}

.schedule{
    margin-top: 25px;
    border: none;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    padding: 15px 25px;
}